.close-icon {
    margin-left : auto;
    color : lightgrey;
    width : 15px;
}

.close-icon:hover {
    color : grey;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: #000000DE;;
    text-transform: capitalize;
    font-weight : bold;
    font-size : 15px;
    letter-spacing : 0.5px;
}

.fileinfo-container {
    display : flex;
    flex-direction : row;
    width:100%;
    align-items:center;
    justify-content: center;
    background : #EFF5F9;
}